<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>首页</title>

    <link href="../AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css"/>
    <link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css"/>

    <link href="../basic/css/demo.css" rel="stylesheet" type="text/css"/>

    <link href="../css/hmstyle.css" rel="stylesheet" type="text/css"/>
    <link href="../css/skin.css" rel="stylesheet" type="text/css"/>
    <script src="../AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <script src="../AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/model.js"></script>

</head>

<body>
<div class="hmtop">
    <!--顶部导航条 -->
    <div class="am-container header vue-user-info">
        <ul class="message-l">
            <div class="topMessage">
                <div v-if="id === -1" class="menu-hd">
                    <a href="login.html" class="h">亲,请登录</a>
                    <a href="register.html">注册</a>
                </div>
                <div v-else class="menu-hd">
                    <a href="../person/index.html" target="_top" class="h">欢迎你, {{ username }}</a>
                    <a @click="loginOut" href="#" target="_top">退出</a>
                </div>
            </div>
        </ul>
        <ul class="message-r">
            <div class="topMessage my-shangcheng">
                <div class="menu-hd MyShangcheng"><a href="../person/index.html" target="_top"><i
                        class="am-icon-user am-icon-fw"></i>个人中心</a>
                </div>
            </div>
            <div class="topMessage mini-cart">
                <div class="menu-hd"><a id="mc-menu-hd" href="#" target="_top"><i
                        class="am-icon-shopping-cart  am-icon-fw"></i><span><a
                        href="shopcart.html">购物车</a></span><strong id="J_MiniCartNum"
                                                                   class="h">0</strong></a>
                </div>
            </div>
        </ul>
    </div>

    <!--悬浮搜索框-->
    <div class="nav white">
        <a href="home.html">
            <div class="logo"><img src="../images/logo.png"/></div>
            <div class="logoBig">
                <li><img src="../images/logobig.png"/></li>
            </div>
        </a>

        <div class="search-bar pr">
            <a name="index_none_header_sysc" href="#"></a>
            <form action="">
                <input id="searchInput" v-model="word" name="product_name" type="text" placeholder="搜索"
                       autocomplete="off">
                <div @click="toSearch()" id="ai-topsearch" class="am-btn">搜索</div>
            </form>
        </div>
    </div>

    <div class="clear"></div>
</div>
<div class="banner">
    <!--轮播 -->
    <div class="am-slider am-slider-default scoll" data-am-flexslider id="demo-slider-0">
        <ul class="am-slides">
            <li class="banner1"><a href="introduction.html"><img src="../images/ad1.jpg"/></a></li>
            <li class="banner2"><a><img src="../images/ad2.jpg"/></a></li>
            <li class="banner3"><a><img src="../images/ad3.jpg"/></a></li>
            <li class="banner4"><a><img src="../images/ad4.jpg"/></a></li>

        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="shopNav">
    <div class="slideall">

        <div class="long-title"><span class="all-goods">全部分类</span></div>
        <div class="nav-cont">
            <ul>
                <li class="index"><a href="home.html">首页</a></li>
                <li class="qc last"><a href="#">关于商城</a></li>
            </ul>
        </div>

        <!--侧边导航 -->
        <div id="nav" class="navfull">
            <div class="area clearfix">
                <div class="category-content" id="guide_2">

                    <div class="category">
                        <ul class="category-list" id="js_climit_li">
                            <li v-for="(item, index) in list"
                                v-bind:class="{ first:index==0, last:index==list.length-1 }"
                                class="appliance js_toggle relative">
                                <div class="category-info">
                                    <h3 class="category-name b-category-name">
                                        <i><img src="../images/cake.png"></i>
                                        <a class="ml-22" v-bind:title="item.categoryParent.name">{{item.categoryParent.name}}</a>
                                    </h3>
                                    <em>&gt;</em>
                                </div>
                                <div class="menu-item menu-in top">
                                    <div class="area-in">
                                        <div class="area-bg">
                                            <div class="menu-srot">
                                                <div class="sort-side">
                                                    <dl class="dl-sort">
                                                        <dt>
                                                            <span title="{{item.categoryParent.name}}">{{item.categoryParent.name}}</span>
                                                        </dt>
                                                        <dd v-for="childItem in item.categoryChild">
                                                            <a @click="toSearch(childItem.id)"
                                                               v-bind:title="childItem.name" href="#"><span>{{childItem.name}}</span></a>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!--轮播-->

        <script type="text/javascript">
            (function () {
                $('.am-slider').flexslider();
            });

        </script>
        <div class="clear"></div>
    </div>
    <script type="text/javascript">
        if ($(window).width() < 640) {
            function autoScroll(obj) {
                $(obj).find("ul").animate({
                    marginTop: "-39px"
                }, 500, function () {
                    $(this).css({
                        marginTop: "0px"
                    }).find("li:first").appendTo(this);
                })
            }

            $(function () {
                setInterval('autoScroll(".demo")', 3000);
            })
        }
    </script>
</div>
<div class="shopMainbg">
    <div class="clear "></div>
    <div v-for="(item, index) in list" v-bind:id=" 'f' + (index+1)">
        <!--甜点-->
        <div class="am-container ">
            <div class="shopTitle ">
                <h4>F{{index+1}} {{item.name}}</h4>
            </div>
        </div>

        <div class="am-g am-g-fixed floodFour">
            <div class="am-u-sm-5 am-u-md-4 text-one list ">
                <div class="word">
                    <a class="outer" href="#"><span class="inner"><b class="text">暂时</b></span></a>
                    <a class="outer" href="#"><span class="inner"><b class="text">没有</b></span></a>
                    <a class="outer" href="#"><span class="inner"><b class="text">活动</b></span></a>
                    <a class="outer" href="#"><span class="inner"><b class="text">请慢</b></span></a>
                    <a class="outer" href="#"><span class="inner"><b class="text">慢慢</b></span></a>
                    <a class="outer" href="#"><span class="inner"><b class="text">慢等</b></span></a>
                </div>
                <a href="# ">
                    <div class="outer-con ">
                        <div class="title ">
                            tan90度
                        </div>
                        <div class="sub-title ">
                            薛定谔的活动
                        </div>
                    </div>
                    <img src="../images/act1.png "/>
                </a>
                <div class="triangle-topright"></div>
            </div>
            <div v-for="(itemProduct, indexProduct) in item.productList"
                 v-bind:title="itemProduct.name"
                 v-bind:class="computedClass(indexProduct)">
                <div class="outer-con ">
                    <div class="title" @click="toProductDetail(itemProduct.id)">
                        {{itemProduct.name.substr(0,10)}}
                    </div>
                    <div class="sub-title " @click="toProductDetail(itemProduct.id)">
                        ¥{{itemProduct.price}}
                    </div>
                    <i @click="addToCart(itemProduct.id)" class="am-icon-shopping-basket am-icon-md  seprate"></i>
                </div>
                <a @click="toProductDetail(itemProduct.id)"><img v-bind:src="itemProduct.imageHost+itemProduct.mainImage"/></a>
            </div>
        </div>
        <div class="clear "></div>
    </div>
    <div class="footer ">
        <div class="footer-bd ">
            <p>
                <a href="# ">合作伙伴</a>
                <a href="# ">联系我们</a>
                <a href="# ">网站地图</a>
                <em>© 2015-2025 Hengwang.com 版权所有</em>
            </p>
        </div>
    </div>


</div>
</div>
<!--菜单 -->
<div class='tip'>
    <div id="sidebar">

        <div id="wrap">
            <div id="prof" class="item ">
            </div>
            <div id="shopCart" class="item " onclick="window.location.href='shopcart.html'">
                <a href="">
                    <span class="message "></span>
                </a>
                <p>
                    购物车
                </p>
                <p class="cart_num ">{{count}}</p>
            </div>

            <div class="quick_toggle ">
                <!--二维码 -->
                <li class="qtitem ">
                    <a href="#none "><span class="mpbtn_qrcode "></span></a>
                    <div class="mp_qrcode " style="display:none; "><img src="../images/weixin_code_145.png "/><i
                            class="icon_arrow_white "></i></div>
                </li>
                <li class="qtitem ">
                    <a href="#top " class="return_top "><span class="top "></span></a>
                </li>
            </div>

            <!--回到顶部 -->
            <div id="quick_links_pop " class="quick_links_pop hide "></div>

        </div>

    </div>
</div>
<script>
    window.jQuery || document.write('<script src="basic/js/jquery.min.js "><\/script>');
    var userInfo = new Vue({
        el: '.vue-user-info',
        data: {
            id: -1,
            username: '',
            email: '',
            phone: '',
            question: '',
        },
        created: function () {
            this.id = -1;
            this.username = '';
            this.email = '';
            this.phone = '';
            this.question = '';
            user.getUser(this.getUserCallback);
        },
        methods: {
            getUserCallback: function (result) {
                if (result.status == 0) {
                    this.id = result.data.id;
                    this.username = result.data.username;
                    this.email = result.data.email;
                    this.phone = result.data.phone;
                    this.question = result.data.question;
                    shopCart.getCartCount();
                    console.log(this.id);
                } else {
                    console.log(result);
                }
            },
            loginOut: function () {
                user.loginOut();
                window.location.reload();
            }
        }
    });
    var categoryList = new Vue({
        el: '.category-list',
        data: {
            list: []
        },
        created: function () {
            //console.log("category created...");
            category.getCategory(null, this.getCategoryParentCallback);
        },
        methods: {
            getCategoryParentCallback: function (result) {
                var arr = result.data;
                for (var i = 0; i < arr.length; i++) {
                    this.list.push({categoryParent: arr[i], categoryChild: null});
                }
                this.getChild();
            },
            getCategoryChildCallback: function (categoryId, result, isLast) {
                //确认父分类的位置
                var cIndex = -1;
                for (var i = 0; i < this.list.length; i++) {
                    if (this.list[i].categoryParent.id == categoryId) {
                        cIndex = i;
                        break;
                    }
                }

                if (cIndex == -1) return;

                //填充子分类
                this.list[cIndex].categoryChild = result.data;
                //console.log("category child queried...");
                if (isLast) {
                    //console.log(this.list);
                    $(document).ready(function () {
                        $("li").hover(function () {
                            $(".category-content .category-list li.first .menu-in").css("display", "none");
                            $(".category-content .category-list li.first").removeClass("hover");
                            $(this).addClass("hover");
                            $(this).children("div.menu-in").css("display", "block")
                        }, function () {
                            $(this).removeClass("hover")
                            $(this).children("div.menu-in").css("display", "none")
                        });
                    })
                }
            },
            //获取该父分类下的子分类
            getChild: function () {
                for (var i = 0; i < this.list.length; i++) {
                    var cId = this.list[i].categoryParent.id;
                    var cName = this.list[i].categoryParent.name;
                    var isLast = i == this.list.length - 1;
                    shopMainbg.addToList(cId, cName);
                    console.log("cId: " + cId + "cName: " + cName + " isLast:" + isLast);
                    category.getCategory(cId, this.getCategoryChildCallback, isLast);
                }
            },
            toSearch: function (cId) {
                sessionStorage.setItem("productId", cId);
                sessionStorage.setItem("productWord", undefined);
                window.location.href = "search.html";
            }
        }
    });
    var shopMainbg = new Vue({
        el: '.shopMainbg',
        data: {
            indexHash: [
                ['am-u-sm-7', 'am-u-md-4', 'text-two', 'sug'],
                ['am-u-sm-7', 'am-u-md-4', 'text-two'],
                ['am-u-sm-3', 'am-u-md-2', 'text-three', 'big'],
                ['am-u-sm-3', 'am-u-md-2', 'text-three', 'sug'],
                ['am-u-sm-3', 'am-u-md-2', 'text-three'],
                ['am-u-sm-3', 'am-u-md-2', 'text-three', 'last', 'big'],

            ],
            list: []
        },
        methods: {
            addToList: function (cId, cName) {
                product.getProductList(null, cId, null, 6, null, cName, this.getProductListCallback);
            },
            addToCart: function (productId) {
                console.log(productId);
                shopCart.addToCart(productId, 1);
            },
            getProductListCallback: function (result, categoryName) {
                if (result.data.list.length >= 6) {
                    var pList = result.data.list.splice(0, 6);
                    this.list = [{name: categoryName, productList: pList}].concat(this.list);
                }
            },
            toProductDetail: function (productId) {
                console.log('获取产品id: ' + productId);
                sessionStorage.setItem("productId", productId);
                sessionStorage.setItem("productWord", undefined);
                window.location.href = "introduction.html";
            },
            computedClass: function (index) {
                return this.indexHash[index];
            }
        }
    });
    var shopCart = new Vue({
        el: '#sidebar',
        data: {
            count: 0
        },
        methods: {
            addToCart: function (productId, count) {
                cart.addToCart(productId, count, this.addToCartCallback);
            },
            addToCartCallback: function (result) {
                if (result.status == 0) {
                    this.getCartCount();
                    alert("添加成功");
                } else {
                    alert(result.msg);
                }
            },
            getCartCount: function () {
                cart.getCount(this.getCartCountCallback);
            },
            getCartCountCallback: function (result) {
                if (result.status != 0) {
                    console.log('获取购物车数量失败');
                }
                this.count = result.data;
                $("#J_MiniCartNum").text(this.count);
                console.log("this.count: " + this.count);
            }
        }
    });
    var searchBar = new Vue({
        el: '.search-bar',
        data: {
            word: ''
        },
        methods: {
            toSearch: function () {
                sessionStorage.setItem("productId", undefined);
                sessionStorage.setItem("productWord", this.word);
                window.location.href = "search.html";
            }
        }
    });
</script>
<script type="text/javascript " src="../basic/js/quick_links.js "></script>
</body>
</html>