<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>注册</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="stylesheet" href="../AmazeUI-2.4.2/assets/css/amazeui.min.css" />
		<link href="../css/dlstyle.css" rel="stylesheet" type="text/css">
		<script src="../AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
		<script src="../AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>
		<script src="../js/vue.js"></script>
		<script src="../js/model.js"></script>
	</head>

	<body>

		<div class="login-boxtitle">
			<a href="home/demo.html">
				<img alt="" src="../images/logobig.png" />
			</a>
		</div>

		<div class="res-banner">
			<div class="res-main">
				<div class="login-banner-bg"><span></span><img src="../images/big.jpg" /></div>
				<div id="fuck-login" class="login-box">
					<div class="am-tabs" id="doc-my-tabs">
						<ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
							<li class="am-active"><a href="">注册</a></li>
						</ul>
							<div class="am-tabs-bd">
							<div class="am-tab-panel am-active">
							<form  method="post">
								<div  class="user-name">
									<label for="username"><i class="am-icon-user"></i></label>
									<input type="text" v-model="username" id="username" placeholder="请输入用户名">
								</div>
								<div class="user-phone">
									<label for="phone"><i class="am-icon-mobile-phone am-icon-sm"></i></label>
									<input type="tel" v-model="phone" maxlength="11" id="phone" placeholder="请输入手机号">
								</div>
								<div class="user-email">
									<label for="email"><i class="am-icon-envelope-o"></i></label>
									<input type="email"  v-model="email" id="email" placeholder="请输入邮箱账号">
						   		</div>
								<div class="user-pass">
							    	<label for="password"><i class="am-icon-lock"></i></label>
							    	<input type="password" v-model="password" id="password" placeholder="设置密码">
                				</div>
								<div class="user-pass-repeat">
									<label for="passwordRepeat"><i class="am-icon-lock"></i></label>
									<input type="password" v-model="passwordRepeat" id="passwordRepeat" placeholder="确认密码">
								</div>
							</form>
								<div class="login-links">
									<label for="readerMe">
										<input v-model="readerMe" id="readerMe" type="checkbox"> 点击表示您同意商城《服务协议》
									</label>
								</div>
								<div class="am-cf">
									<input type="submit" @click="checkAllAndPost" value="注册" class="am-btn am-btn-primary am-btn-sm am-fl">
								</div>
							</div>
							</div>
					</div>
				</div>
			</div>

			<div class="footer ">
				<div class="footer-hd ">
					<p>
						<a href="# ">恒望科技</a>
						<b>|</b>
						<a href="# ">商城首页</a>
						<b>|</b>
						<a href="# ">支付宝</a>
						<b>|</b>
						<a href="# ">物流</a>
				</p>
				</div>
				<div class="footer-bd ">
					<p>
					<a href="# ">关于恒望</a>
						<a href="# ">合作伙伴</a>
						<a href="# ">联系我们</a>
						<a href="# ">网站地图</a>
						<em>© 2015-2025 Hengwang.com 版权所有. 更多模板 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></em>
					</p>
				</div>
			</div>
</div>
<script type="text/javascript">

	function changeWhenInvalid(reg, val, classname) {
		var invalid = true;
		if (reg == null) {
			invalid = val;
		} else {
			invalid = !reg.test(val);
		}
		if (invalid) {
			$(classname).addClass('am-form-error');
			return false;
		} else {
			$(classname).removeClass('am-form-error');
			return true;
		}
	}

	var loginBox = new Vue({
		el: '#fuck-login',
		data: {
			validArr: [],
			username:'testuser',
			phone:'11111111111',
			email:'testuser@qq.com',
			password:'111111',
			passwordRepeat: '111111',
			readerMe: false
		},
		methods: {
			checkUsername: function(val) {
				var reg = /^[a-zA-Z]\w{4,17}$/;
				return changeWhenInvalid(reg, val, '.user-name');
			},
			checkPhone: function(val) {
				var reg = /^\d{11}$/;
				return changeWhenInvalid(reg, val, '.user-phone');
			},
			checkEmail: function(val) {
				var reg = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
				return changeWhenInvalid(reg, val, '.user-email');
			},
			checkPass: function(val) {
				var reg = /^\S{5,17}$/;
				this.checkPassRept(val);
				return changeWhenInvalid(reg, val, '.user-pass');
			},
			checkPassRept: function(val) {
				val = this.password != val;
				return changeWhenInvalid(null, val, '.user-pass-repeat');
			},
			checkAllAndPost: function() {
				var allValid = this.checkUsername(this.username) && this.checkPhone(this.phone)
								&& this.checkEmail(this.email) && this.checkPass(this.password)
								&& this.checkPassRept(this.passwordRepeat);

				if (!this.readerMe) {
					alert('请阅读并同意服务协议');
					return;
				}
				if (!allValid) {
					alert('请确认表单内所有输入正确');
				}
				user.addUser(this.username, this.password, this.email, this.phone, this.checkAllAndPostCallback);
			},
			checkAllAndPostCallback: function(result) {
				console.log(result);
				if (result.status == 0) {
					user.loginUser(this.username, this.password, this.loginUserCallback);
				} else {
					alert(result.msg);
				}
			},
			loginUserCallback: function(result) {
				if (result.status == 0) {
					alert("登录成功，正在跳转到首页...");
					window.location.href = "home.html";
					console.log('跳转到首页');
				} else {
					console.log(result.msg);
					console.log('跳转到登录页面');
				}
			}
		},
		watch: {
			username: function (val) {
				this.checkUsername(val);
			},
			phone: function(val) {
				this.checkPhone(val);
			},
			email: function(val) {
				this.checkEmail(val);
			},
			password: function(val) {
				this.checkPass(val);
			},
			passwordRepeat: function(val) {
				this.checkPassRept(val);
			}
		}
	});
	var searchBar = new Vue({
		el: '.search-bar',
		data: {
			word: ''
		},
		methods: {
			toSearch: function () {
				sessionStorage.setItem("productId", undefined);
				sessionStorage.setItem("productWord", this.word);
				window.location.href = "search.html";
			}
		}
	});
</script>
	</body>
</html>