<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
    <title>个人中心</title>
    <link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
    <link href="../AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

    <link href="../css/personal.css" rel="stylesheet" type="text/css">
    <link href="../css/stepstyle.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
    <script src="../AmazeUI-2.4.2/assets/js/amazeui.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/model.js"></script>
</head>

<body>
<!--头 -->
<header>
    <article>
        <div class="mt-logo">
            <!--顶部导航条 -->
            <div class="am-container header vue-user-info">
                <ul class="message-l">
                    <div class="topMessage">
                        <div v-if="id === -1" class="menu-hd">
                            <a href="login.html" class="h">亲,请登录</a>
                            <a href="register.html">注册</a>
                        </div>
                        <div v-else class="menu-hd">
                            <a href="#" target="_top" class="h">欢迎你, {{ username }}</a>
                            <a @click="loginOut" href="#" target="_top">退出</a>
                        </div>
                    </div>
                </ul>
                <ul class="message-r">
                    <div class="topMessage my-shangcheng">
                        <div class="menu-hd MyShangcheng"><a href="#" target="_top"><i
                                class="am-icon-user am-icon-fw"></i>个人中心</a>
                        </div>
                    </div>
                    <div class="topMessage mini-cart">
                        <div class="menu-hd"><a id="mc-menu-hd" href="#" target="_top"><i
                                class="am-icon-shopping-cart  am-icon-fw"></i><span><a
                                href="shopcart.html">购物车</a></span><strong id="J_MiniCartNum"
                                                                           class="h">0</strong></a>
                        </div>
                    </div>
                </ul>
            </div>

            <!--悬浮搜索框-->
            <div class="nav white">
                <a href="../home/home.html">
                    <div class="logoBig">
                        <li><img src="../images/logobig.png"/></li>
                    </div>
                </a>

                <div class="search-bar pr">
                    <a name="index_none_header_sysc" href="#"></a>
                    <form action="">
                        <input id="searchInput" v-model="word" name="product_name" type="text" placeholder="搜索"
                               autocomplete="off">
                        <div @click="toSearch()" id="ai-topsearch" class="am-btn">搜索</div>
                    </form>
                </div>
            </div>

            <div class="clear"></div>
        </div>
        </div>
    </article>
</header>
<div class="nav-table">
    <div class="long-title"><span class="all-goods">全部分类</span></div>
    <div class="nav-cont">
        <ul>
            <li class="index"><a href="../home/home.html">首页</a></li>
            <li class="qc last"><a href="#">关于商城</a></li>
        </ul>
    </div>
</div>
<b class="line"></b>
<div class="center">
    <div class="col-main">
        <div class="main-wrap">
            <div class="am-cf am-padding">
                <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">修改密码</strong> /
                    <small>Password</small>
                </div>
            </div>
            <hr/>
            <form id="user-password-panel" class="am-form am-form-horizontal">
                <div class="am-form-group">
                    <label for="user-old-password" class="am-form-label">原密码</label>
                    <div class="am-form-content">
                        <input type="password" v-model="userOldPassword" id="user-old-password" placeholder="请输入原登录密码">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="user-new-password" class="am-form-label">新密码</label>
                    <div class="am-form-content">
                        <input type="password" v-model="userNewPassword" id="user-new-password" placeholder="由数字、字母组合">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="user-confirm-password" class="am-form-label">确认密码</label>
                    <div class="am-form-content">
                        <input type="password" v-model="userConfirmPassword" id="user-confirm-password"
                               placeholder="请再次输入上面的密码">
                    </div>
                </div>
                <div class="info-btn">
                    <div @click="updatePassword" class="am-btn am-btn-danger">保存修改</div>
                </div>

            </form>
        </div>
        <!--底部-->
        <div class="footer">
            <div class="footer-hd">
                <p>
                    <a href="#">恒望科技</a>
                    <b>|</b>
                    <a href="#">商城首页</a>
                    <b>|</b>
                    <a href="#">支付宝</a>
                    <b>|</b>
                    <a href="#">物流</a>
                </p>
            </div>
            <div class="footer-bd">
                <p>
                    <a href="#">关于恒望</a>
                    <a href="#">合作伙伴</a>
                    <a href="#">联系我们</a>
                    <a href="#">网站地图</a>
                    <em>© 2015-2025 Hengwang.com 版权所有. 更多模板 <a href="http://www.cssmoban.com/" target="_blank"
                                                               title="模板之家">模板之家</a> - Collect from <a
                            href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></em>
                </p>
            </div>
        </div>

    </div>

    <aside class="menu">
        <ul>
            <li class="person">
                <a href="index.html">个人资料</a>
            </li>
            <li class="person">
                <a href="order.html">订单管理</a>
            </li>
            <li class="person active">
                <a href="resetpassword.html">密码修改</a>
            </li>

        </ul>
    </aside>
</div>
<script type="text/javascript">
    var userInfo = new Vue({
        el: '.vue-user-info',
        data: {
            id: -1,
            username: '',
            email: '',
            phone: '',
            question: '',
        },
        created: function () {
            this.id = -1;
            this.username = '';
            this.email = '';
            this.phone = '';
            this.question = '';
            user.getUser(this.getUserCallback);
        },
        methods: {
            getUserCallback: function (result) {
                if (result.status == 0) {
                    this.id = result.data.id;
                    this.username = result.data.username;
                    this.email = result.data.email;
                    this.phone = result.data.phone;
                    this.question = result.data.question;
                    cart.getCount(this.getCountCallback);
                } else {
                    console.log(result);
                    alert("未登录，请登录");
                    window.location.href = "../home/login.html";
                }
            },
            loginOut: function () {
                user.loginOut();
                window.location.reload();
            },
            getCountCallback: function (result) {
                $("#J_MiniCartNum").text(result.data);
            }
        }
    });

    var userPassword = new Vue({
        el: '#user-password-panel',
        data: {
            userOldPassword: '',
            userNewPassword: '',
            userConfirmPassword: ''
        },
        methods: {
            checkRept: function () {
                return this.userNewPassword == this.userConfirmPassword;
            },
            updatePassword: function () {
                var valid = this.checkRept();

                if (valid) {
                    user.updatePassword(this.userOldPassword, this.userNewPassword, this.updateCallback);
                } else {
                    alert("两次输入的密码不一致");
                }
            },
            updateCallback: function (result) {
                if (result.status == 0) {
                    alert("更新成功");
                    this.userOldPassword = this.userNewPassword = this.userConfirmPassword = '';
                } else {
                    alert(result.msg);
                }
            }
        }
    });
    var searchBar = new Vue({
        el: '.search-bar',
        data: {
            word: ''
        },
        methods: {
            toSearch: function () {
                sessionStorage.setItem("productId", undefined);
                sessionStorage.setItem("productWord", this.word);
                window.location.href = "../home/search.html";
            }
        }
    });
</script>
</body>

</html>